.add-item-widget {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  left: 0;
  right: 70%;
  top: 0;
  bottom: 53%;
  padding: 3rem;

  .btn {
    align-self: flex-end;
  }
}
