.filter-tab {
  width: calc(100% - 2.5rem);
  height: 100%;
  padding-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: .05rem;
  border: solid $white .05rem;
  border-left: none;

  &.selected {
    background: $dark-gray;
  }

  &.overdue {
    color: $red;
  }

  &.soon {
    color: $yellow;
  }

  &:hover {
    border-right-width: .15rem;
    border-right-color: $green;
  }

  &:active {
    background: $dark-gray;
  }
}
