.filter-tab {
  width: calc(100% - 2rem);
  height: 100%;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  border: solid #FAFAFA .05rem;

  &.overdue {
    color: #FCB5AC;
  }

  &.soon {
    color: #B5E5CF;
  }
}
