.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid #FAFAFA .05rem;
  width: 100%;
  height: 50px;

  .item-name,
  .item-due {
    margin: auto;
  }

  .btn {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &.overdue {
    color: #FCB5AC;
  }

  &.soon {
    color: #B5E5CF;
  }
}
