.item-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  border-top: solid $white .05rem;
  width: 100%;
  height: 65px;

  .item-name,
  .item-due {
    margin: auto;
  }

  .btn {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &.overdue {
    border-left: solid $red .1rem;
    border-radius: 5px 0 0 0;
  }

  &.soon {
    border-left: solid $yellow .1rem;
    border-radius: 5px 0 0 0;
  }
}
